.conveyer {
  position: relative;
}

.conveyer-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 8px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 8px 4px 8px;
  background-color: var(--rtrw-black);
  border-radius: 9999px;
}
.conveyer-indicators > .conveyer-indicator-bullet {
  background-color: var(--rtrw-white);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.conveyer-indicators > .conveyer-indicator-bullet.active {
  background-color: var(--rtrw-primary);
}

.conveyer-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}