<div class="kelurahan-info-detail">
    <div class="rtrw-flex rtrw-flex-col rtrw-gap-row-4">
        <div class="rtrw-flex rtrw-flex-col">
            <div class="title">Kemanggisan</div>
            <div class="subtitle">Jakarta Barat, DKI Jakarta</div>
        </div>
        <div class="rtrw-inline-flex rtrw-justify-content-between rtrw-align-items-baseline">
            <div class="rtrw-inline-flex rtrw-align-items-baseline rtrw-gap-col-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="31.937" height="28.67"
                     viewBox="0 0 31.937 28.67">
                    <g id="Group_237" data-name="Group 237" transform="translate(-29.832 -864.227)">
                        <g id="Group_195" data-name="Group 195" transform="translate(29.832 864.227)">
                            <path id="Path_2165" data-name="Path 2165"
                                  d="M146.147,130.107l-4.122-4a1.468,1.468,0,0,0-.288-.28l-10.082-9.775-.037-.038a1.476,1.476,0,0,0-2.037,0l-.037.038-10.082,9.775a1.467,1.467,0,0,0-.288.28l-4.122,4a1.366,1.366,0,0,0,0,1.972,1.473,1.473,0,0,0,2.034,0l1.8-1.744v12.55a1.418,1.418,0,0,0,1.439,1.4h20.551a1.418,1.418,0,0,0,1.439-1.4v-12.55l1.8,1.744a1.473,1.473,0,0,0,2.034,0A1.366,1.366,0,0,0,146.147,130.107Zm-6.709,11.385H121.762V127.547l8.836-8.567,8.836,8.567v13.945Z"
                                  transform="translate(-114.63 -115.61)" fill="#ffcd43" />
                        </g>
                        <g id="Group_232" data-name="Group 232" transform="translate(-105.339 338.087)">
                            <g id="b" transform="translate(146.907 536.676)">
                                <g id="c" transform="translate(0 0)">
                                    <path id="Path_2180" data-name="Path 2180"
                                          d="M4,5.143l-1.289-1.8a2.146,2.146,0,0,0,.246-.093,1.616,1.616,0,0,0,.712-.595,1.66,1.66,0,0,0,.249-.922A1.71,1.71,0,0,0,3.666.8,1.593,1.593,0,0,0,2.954.206,2.72,2.72,0,0,0,1.845,0H0V5.143H.375V3.46H1.844a3.352,3.352,0,0,0,.5-.035L3.57,5.143H4ZM.375,3.129V.338H1.844A1.9,1.9,0,0,1,3.1.7a1.278,1.278,0,0,1,.429,1.032A1.274,1.274,0,0,1,3.1,2.762a1.889,1.889,0,0,1-1.26.368H.375Z"
                                          transform="translate(0 0)" fill="#0eb225" />
                                    <path id="Path_2182" data-name="Path 2182"
                                          d="M56.59,0V.338h1.851V5.143h.375V.338h1.851V0Z"
                                          transform="translate(-51.74 0)" fill="#0eb225" />
                                </g>
                            </g>
                            <g id="b-2" data-name="b" transform="translate(145.451 543.453)">
                                <g id="c-2" data-name="c" transform="translate(0 0)">
                                    <path id="Path_2181" data-name="Path 2181"
                                          d="M172.568,0l-1.915,4.66L168.75,0h-.385l.7,1.7.015.038-1.2,2.922L165.968,0h-.378L167.7,5.143h.345l1.215-2.966,1.216,2.966h.345L172.926,0Z"
                                          transform="translate(-161.15 0)" fill="#0eb225" />
                                    <path id="Path_2183" data-name="Path 2183"
                                          d="M117.786,5.143l-1.289-1.8a2.146,2.146,0,0,0,.246-.093,1.616,1.616,0,0,0,.712-.595,1.66,1.66,0,0,0,.249-.922A1.71,1.71,0,0,0,117.455.8a1.593,1.593,0,0,0-.712-.591A2.72,2.72,0,0,0,115.634,0H113.79V5.143h.375V3.46h1.469a3.352,3.352,0,0,0,.5-.035l1.231,1.718Zm-3.622-2.013V.338h1.469a1.9,1.9,0,0,1,1.26.363,1.278,1.278,0,0,1,.429,1.032,1.274,1.274,0,0,1-.429,1.029,1.889,1.889,0,0,1-1.26.368Z"
                                          transform="translate(-113.79 0)" fill="#0eb225" />
                                </g>
                                <g id="c-3" data-name="c" transform="translate(0 0)">
                                    <path id="Path_2181-2" data-name="Path 2181"
                                          d="M172.568,0l-1.915,4.66L168.75,0h-.385l.7,1.7.015.038-1.2,2.922L165.968,0h-.378L167.7,5.143h.345l1.215-2.966,1.216,2.966h.345L172.926,0Z"
                                          transform="translate(-161.15 0)" fill="#0eb225" />
                                    <path id="Path_2183-2" data-name="Path 2183"
                                          d="M117.786,5.143l-1.289-1.8a2.146,2.146,0,0,0,.246-.093,1.616,1.616,0,0,0,.712-.595,1.66,1.66,0,0,0,.249-.922A1.71,1.71,0,0,0,117.455.8a1.593,1.593,0,0,0-.712-.591A2.72,2.72,0,0,0,115.634,0H113.79V5.143h.375V3.46h1.469a3.352,3.352,0,0,0,.5-.035l1.231,1.718Zm-3.622-2.013V.338h1.469a1.9,1.9,0,0,1,1.26.363,1.278,1.278,0,0,1,.429,1.032,1.274,1.274,0,0,1-.429,1.029,1.889,1.889,0,0,1-1.26.368Z"
                                          transform="translate(-113.79 0)" fill="#0eb225" />
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <div class="caption">3,500 #wargaRTRW</div>
            </div>
            <div class="caption">200 postingan minggu ini</div>
        </div>
        <div class="rtrw-inline-flex rtrw-justify-content-center rtrw-margin-y-8">
            <button class="button-filled">Ikuti #RTRW Ini</button>
        </div>
    </div>
</div>