@namespace Rtrw.Client.Wasm.Components
@inherits RtrwComponentBase
<span @attributes="UserAttributes" class="@Classname" style="@StyleName" focusable="false" aria-hidden="true">
    @ChildContent
</span>

@code {
    protected string Classname
        => new CssBuilder("rtrw-icon")
            .AddClass($"rtrw-{Color.EnumToDescriptionString()}-text", Color != ThemeColor.Inherit)
            .AddClass(Class)
            .Build();

    protected string StyleName
        => new StyleBuilder()
            .AddStyle("width", Size.ToPx())
            .AddStyle("height", Size.ToPx())
            .Build();

    [Parameter] public int? Size { get; set; } = 24;
    [Parameter] public ThemeColor Color { get; set; } = ThemeColor.Inherit;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}