@namespace Rtrw.Client.Wasm.Components
@inherits RtrwComponentBase

<div @attributes="@UserAttributes" class="@ClassName" style="@Style">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected string? ClassName
        => new CssBuilder()
            .AddClass("container")
            .AddClass(Class ?? null!)
            .Build();
}