.public-page-background {
    background-image: url("media/welcome_screen_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-device-width: 600px) {
        max-width: 600px;
    }
}

.public-page-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.public-page-wrapper {
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: 0;
    background-color: var(--rtrw-white);
    width: 100%;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
    gap: 16px;

    .welcome-info-container {
        & .welcome-info-text {
            margin-top: 8px;
            font-family: Raleway;
            font-weight: normal;
            font-size: 17px;
            text-align: left;
            color: #716464;
        }
    }
}

.auth-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    gap: 24px;

    & .login-container {
        .login-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 64px;
            text-align: center;
            vertical-align: middle;
            border-radius: 10px;
            background: #0db201;
            font-family: Roboto;
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            color: #fff;
            min-height: 84px;
        }
    }

    & .register-container {
        .register-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            border-radius: 10px;
            color: #0db201;
            border: 2px solid #0db201;
        }
    }
}

.text {
    font-family: Raleway;
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    color: #716464;
}