@namespace Rtrw.Client.Wasm.Components
@inherits RtrwComponentBase
<div class="@BadgeRootClassname">
    @ChildContent
    @if (Visible)
    {
        <div class="@BadgeWrapperClassname">
            <div class="@BadgeClassname">
                @if (!Dot)
                {
                    @Text
                }
            </div>
        </div>
    }
</div>

@code {
    protected string BadgeRootClassname
        => new CssBuilder("badge-root")
               .Build();
    protected string BadgeWrapperClassname
        => new CssBuilder("badge-wrapper")
                .AddClass($"badge-{Placement.EnumToDescriptionString()}")
                .Build();
    protected string BadgeClassname
        => new CssBuilder("badge")
               .AddClass("badge-dot", Dot)
               .AddClass(Class)
               .Build();
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public bool Dot { get; set; } = false;
    [Parameter] public string? Text { get; set; }
    [Parameter] public Placement Placement { get; set; } = Placement.TopEnd;
}