@namespace Rtrw.Client.Wasm.Components
@inherits RtrwComponentBase

<div @attributes="UserAttributes" class="@ClassName" style="@StyleName" role="status">
</div>

@code {
    protected string? ClassName
        => new CssBuilder()
            .AddClass($"spinner-{SpinnerType.EnumToDescriptionString()}")
            .AddClass($"rtrw-{Color.EnumToDescriptionString()}-text", Color != ThemeColor.Default || Color != ThemeColor.Inherit)
            .AddClass(Class ?? string.Empty)
            .Build();

    protected string? StyleName
        => new StyleBuilder()
            .AddStyle("width", Size.ToPx())
            .AddStyle("height", Size.ToPx())
            .AddStyle(Style ?? string.Empty)
            .Build();

    [Parameter] public SpinnerType SpinnerType { get; set; } = SpinnerType.Border;
    [Parameter] public ThemeColor Color { get; set; } = ThemeColor.Primary;
    [Parameter] public int? Size { get; set; } = 24;
}
