/*!
* Rtrw v1.0.0(https://rtrw.app/)
* Copyright 2022 The Rtrw Authors
*/
.footer-layout {
  position: fixed;
  height: 56px;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  border: 0 solid rgb(239, 243, 244);
  border-top: 1px solid rgb(239, 243, 244);
  color: var(--rtrw-body-color);
  background-color: var(--rtrw-body-bg);
  z-index: var(--rtrw-zindex-navbar);
}
@media screen and (min-device-width: 600px) {
  .footer-layout {
    max-width: 600px;
  }
}

.navbar-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 12px;
  color: var(--rtrw-body-color);
  background-color: var(--rtrw-body-bg);
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
  width: 100%;
  color: var(--rtrw-body-color);
  background-color: var(--rtrw-body-bg);
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

::deep .nav-link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  background-color: none;
}
::deep .nav-link:hover {
  color: #0db201;
}
::deep .nav-link:active {
  color: #0db201;
}
::deep .nav-link.active {
  color: #0db201;
}
::deep .nav-link:hover:not(:active):not(.active) .nav-icon-default, ::deep .nav-link:hover:not(.active):not(.active) .nav-icon-default {
  display: none;
}
::deep .nav-link:hover:not(:active):not(.active) .nav-icon-active, ::deep .nav-link:hover:not(.active):not(.active) .nav-icon-active {
  display: block;
}
::deep .nav-link:active .nav-icon-default, ::deep .nav-link.active .nav-icon-default {
  display: none;
}
::deep .nav-link:active .nav-icon-active, ::deep .nav-link.active .nav-icon-active {
  display: block;
}

.nav-animation {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 0;
  color: var(--rtrw-color-primary);
  background: #0db201;
  text-decoration: none;
  transition: all 0.4s ease-in;
  opacity: 0;
}
.nav-link:hover .nav-animation {
  width: 100%;
  opacity: 1;
}
.nav-link:active .nav-animation, .nav-link.active .nav-animation {
  width: 100%;
  opacity: 1;
}

.nav-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  transition: transform 0.5s ease-in-out;
}

.nav-icon-big {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateY(6px);
  border-radius: 50%;
}

.nav-label {
  text-align: center;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  vertical-align: baseline;
  height: 12px;
}

::deep .nav-icon-active {
  display: none;
  width: 24px;
  height: 24px;
}

::deep .nav-icon-default {
  display: block;
  width: 24px;
  height: 24px;
}

.nav-badge {
  display: flex;
  align-items: center;
  padding: 8px;
  position: relative;
  box-sizing: border-box;
  margin-block: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
  transition: background 50ms ease 0s, color 50ms ease 0s, border-color 50ms ease 0s;
}

.nav-badge-content {
  right: auto;
  background-color: #c90b11;
  padding: 4px 6px 4px 6px;
  position: absolute;
  top: 0;
  left: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: white;
  line-height: 8px;
  box-shadow: none;
  min-width: unset;
}