@using Rtrw.Client.Wasm.Svgs
<div class="footer-layout">
    <div class="navbar-container">
        <div class="navbar-nav">
            <div class="nav-item">
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="/">
                    <div class="nav-animation"></div>
                    <div class="nav-icon">
                        <RtrwSvgBerandaDefault Class="nav-icon-default" />
                        <RtrwSvgBerandaActive Class="nav-icon-active" />
                    </div>
                    <div class="nav-label">Beranda</div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" Match="NavLinkMatch.Prefix" href="/toko-rtrw">
                    <div class="nav-animation"></div>
                    <div class="nav-icon">
                        <RtrwSvgTokoDefault Class="nav-icon-default" />
                        <RtrwSvgTokoActive Class="nav-icon-active" />
                    </div>
                    <div class="nav-label">Toko RTRW</div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink Match="NavLinkMatch.Prefix" class="nav-link" href="/peta-rtrw">
                    <div class="nav-icon-big">
                        <RtrwSvgPetaDefault />
                    </div>
                    <div class="nav-label">Peta RTRW</div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" Match="NavLinkMatch.Prefix" href="/notifikasi">
                    <div class="nav-animation"></div>
                    <div class="nav-icon">
                        <RtrwBadge Number="@NotificationNumber">
                            <RtrwSvgNotifikasiDefault Class="nav-icon-default" />
                            <RtrwSvgNotifikasiActive Class="nav-icon-active" />
                        </RtrwBadge>
                    </div>
                    <div class="nav-label">Notifikasi</div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" Match="NavLinkMatch.Prefix" href="/lain-lain">
                    <div class="nav-animation"></div>
                    <div class="nav-icon">
                        <RtrwSvgLainLainDefault Class="nav-icon-default" />
                        <RtrwSvgLainLainActive Class="nav-icon-active" />
                    </div>
                    <div class="nav-label">Lain-lain</div>
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public int NotificationNumber { get; set; }
}