.#{$prefix}object-position-center {
    object-position: center;
}

.#{$prefix}object-position-top {
    object-position: top;
}

.#{$prefix}object-position-bottom {
    object-position: bottom;
}

.#{$prefix}object-position-left {
    object-position: left;
}

.#{$prefix}object-position-left-top {
    object-position: left top;
}

.#{$prefix}object-position-left-bottom {
    object-position: left bottom;
}

.#{$prefix}object-position-right {
    object-position: right;
}

.#{$prefix}object-position-right-top {
    object-position: right top;
}

.#{$prefix}object-position-right-bottom {
    object-position: right bottom;
}