.comment-author-name {
    font-weight: bold;
    font-size: 15px;
    color: #716464;
}

.comment-author-kelurahan {
    font-size: 14px;
    color: #716464;
}

.comment-body {
    font-size: 15px;
    color: #716464;
}