* {
  outline: 1px solid red;
}

.post-card {
  display: block;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  gap: 8px;
  margin: auto;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.body-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 8px;
}