@inject NavigationManager NavigationManager

<div class="rtrw-avatar rtrw-avatar-40px" type="button" @onclick="@(()=>NavigationManager.NavigateTo($"/profile/{Id}"))">
    @if (AvatarUrl is null)
    {
        @FullName.ToUpper().FirstOrDefault()
    }
    else
    {
        <img src=" @AvatarUrl" />
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string AvatarUrl { get; set; }
    [Parameter]
    public string FullName { get; set; }
}