@using Rtrw.Client.Wasm.Svgs

<div class="navbar-container">
    <div class="navbar-nav">
        <div class="nav-item">
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="/">
                <div class="nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon-default" width="20.479" height="28.251" viewBox="0 0 20.479 28.251">
                        <g id="Group_1457" data-name="Group 1457" transform="translate(21655.42 -18580.461)">
                            <path id="map" d="M20.374,4.941l-6.2-1.609L7.963,4.957,2.185,3.435a.884.884,0,0,0-.729.127.755.755,0,0,0-.33.617V17.342a.944.944,0,0,0,.726.892l6.111,1.61,6.217-1.626,5.868,1.524a.884.884,0,0,0,.728-.129A.755.755,0,0,0,21.1,19V5.834A.944.944,0,0,0,20.374,4.941ZM7.244,18.37,2.457,17.109V4.793L7.244,6.053Zm6.269-1.262L8.576,18.4V6.082l4.937-1.291Zm6.259,1.279-4.928-1.28V4.789l4.928,1.28Z" transform="translate(-21656.295 18588.617)" fill="#707070" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                            <g id="map-marker-solid" transform="translate(-21651.023 18580.461)">
                                <path id="Path_3154" data-name="Path 3154" d="M12.059,2A5.844,5.844,0,0,0,6.22,7.815c0,2.315,1.3,4.253,2.251,5.666l.173.258A49.378,49.378,0,0,0,11.688,17.7l.377.441.377-.441a49.483,49.483,0,0,0,3.044-3.966l.173-.263c.947-1.413,2.246-3.346,2.246-5.661A5.844,5.844,0,0,0,12.059,2Zm0,8.427a3.252,3.252,0,1,1,3.252-3.252A3.252,3.252,0,0,1,12.059,10.427Z" transform="translate(-6.22 -2)" fill="#707070" />
                                <path id="Path_3155" data-name="Path 3155" d="M17.968,10.559A1.849,1.849,0,1,1,16.119,8.71a1.849,1.849,0,0,1,1.849,1.849Z" transform="translate(-10.28 -5.384)" fill="#707070" />
                            </g>
                        </g>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon-active" width="20.479" height="28.251" viewBox="0 0 20.479 28.251">
                        <g id="Group_1457" data-name="Group 1457" transform="translate(21655.42 -18580.461)">
                            <path id="map" d="M20.374,4.941l-6.2-1.609L7.963,4.957,2.185,3.435a.884.884,0,0,0-.729.127.755.755,0,0,0-.33.617V17.342a.944.944,0,0,0,.726.892l6.111,1.61,6.217-1.626,5.868,1.524a.884.884,0,0,0,.728-.129A.755.755,0,0,0,21.1,19V5.834A.944.944,0,0,0,20.374,4.941ZM7.244,18.37,2.457,17.109V4.793L7.244,6.053Zm6.269-1.262L8.576,18.4V6.082l4.937-1.291Zm6.259,1.279-4.928-1.28V4.789l4.928,1.28Z" transform="translate(-21656.295 18588.617)" fill="#0db201" stroke="#0db201" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                            <g id="map-marker-solid" transform="translate(-21651.023 18580.461)">
                                <path id="Path_3154" data-name="Path 3154" d="M12.059,2A5.844,5.844,0,0,0,6.22,7.815c0,2.315,1.3,4.253,2.251,5.666l.173.258A49.378,49.378,0,0,0,11.688,17.7l.377.441.377-.441a49.483,49.483,0,0,0,3.044-3.966l.173-.263c.947-1.413,2.246-3.346,2.246-5.661A5.844,5.844,0,0,0,12.059,2Zm0,8.427a3.252,3.252,0,1,1,3.252-3.252A3.252,3.252,0,0,1,12.059,10.427Z" transform="translate(-6.22 -2)" fill="#0db201" />
                                <path id="Path_3155" data-name="Path 3155" d="M17.968,10.559A1.849,1.849,0,1,1,16.119,8.71a1.849,1.849,0,0,1,1.849,1.849Z" transform="translate(-10.28 -5.384)" fill="#0db201" />
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="nav-animation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.336" height="8.707" viewBox="0 0 10.336 8.707">
                        <g id="Group_1472" data-name="Group 1472" transform="translate(-90.221 -878.632)">
                            <g id="Triangle-06" transform="translate(90.221 855.832)">
                                <path id="Path_3159" data-name="Path 3159" d="M1.55,31.506h7.3a1.5,1.5,0,0,0,1.486-1.447l0-.075h0a1.366,1.366,0,0,0-.113-.47l-.03-.058L6.535,23.541l-.454.239.456-.233A1.588,1.588,0,0,0,5.166,22.8a1.675,1.675,0,0,0-.757.181h0a1.523,1.523,0,0,0-.612.566l.456.233L3.8,23.541.145,29.456l-.03.058A1.371,1.371,0,0,0,0,30.059,1.455,1.455,0,0,0,.977,31.4h0a1.674,1.674,0,0,0,.509.1.51.51,0,0,0,.549-.457.5.5,0,0,0-.495-.508.569.569,0,0,1-.17-.035h0a.483.483,0,0,1-.325-.448.449.449,0,0,1,.038-.181L.6,29.7l.452.239L4.708,24.02l0-.006a.5.5,0,0,1,.2-.189h0a.55.55,0,0,1,.252-.06.527.527,0,0,1,.458.25l0,.006,3.654,5.912.454-.239-.484.181a.472.472,0,0,1,.038.157h0v.026a.5.5,0,0,1-.495.482l.026.482v-.483H1.55a.485.485,0,1,0,0,.967Z" transform="translate(0 0)" fill="#0db201" />
                            </g>
                            <path id="Path_3160" data-name="Path 3160" d="M-21361.941,18418.664l-3.9,6.852s4.836.35,7.143.219,2.08-.738,2.08-.738l-4.225-6.6Z" transform="translate(21456.607 -17539)" fill="#0db201" />
                        </g>
                    </svg>
                </div>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink Match="NavLinkMatch.Prefix" class="nav-link nav-middle" href="/new-post">
                <div class="nav-icon-big">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="70" viewBox="0 0 70 70">
                        <defs>
                            <filter id="Ellipse_87" x="0" y="0" width="70" height="70" filterUnits="userSpaceOnUse">
                                <feOffset input="SourceAlpha" />
                                <feGaussianBlur stdDeviation="3" result="blur" />
                                <feFlood flood-opacity="0.161" />
                                <feComposite operator="in" in2="blur" />
                                <feComposite in="SourceGraphic" />
                            </filter>
                        </defs>
                        <g id="Group_1499" data-name="Group 1499" transform="translate(-9233 -8163)">
                            <g id="Group_884" data-name="Group 884" transform="translate(9054 7344)">
                                <g id="Group_882" data-name="Group 882" transform="translate(-2 728.23)">
                                    <g transform="matrix(1, 0, 0, 1, 181, 90.77)" filter="url(#Ellipse_87)">
                                        <circle id="Ellipse_87-2" data-name="Ellipse 87" cx="26" cy="26" r="26" transform="translate(9 9)" fill="#fff" />
                                    </g>
                                </g>
                            </g>
                            <g id="Group_1095" data-name="Group 1095" transform="translate(9054 7342)">
                                <path id="Line_169" data-name="Line 169" d="M2.548,25.637H-1.5V0H2.548Z" transform="translate(213.477 843.182)" fill="#0db201" />
                                <path id="Line_170" data-name="Line 170" d="M24.288,2.548H0V-1.5H24.288Z" transform="translate(201.855 855.477)" fill="#0db201" />
                            </g>
                        </g>
                    </svg>
                </div>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" Match="NavLinkMatch.Prefix" href="/home">
                <div class="nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon-active" width="26.735" height="24" viewBox="0 0 26.735 24">
                        <g id="beranda-active" transform="translate(-30.031 -864.228)">
                            <g id="Group_195" data-name="Group 195" transform="translate(30.032 864.227)">
                                <path id="Path_2165" data-name="Path 2165" d="M141.013,127.745l-3.45-3.345a1.228,1.228,0,0,0-.241-.234l-8.44-8.182-.031-.032a1.235,1.235,0,0,0-1.705,0l-.031.032-8.44,8.182a1.228,1.228,0,0,0-.241.234l-3.45,3.345a1.144,1.144,0,0,0,0,1.651,1.233,1.233,0,0,0,1.7,0l1.506-1.46v10.506a1.187,1.187,0,0,0,1.2,1.168h17.2a1.187,1.187,0,0,0,1.2-1.168V127.936l1.506,1.46a1.233,1.233,0,0,0,1.7,0A1.144,1.144,0,0,0,141.013,127.745Zm-5.616,9.531H120.6V125.6l7.4-7.171,7.4,7.171v11.674Z" transform="translate(-114.63 -115.61)" fill="#0db201" />
                            </g>
                            <g id="Group_232" data-name="Group 232" transform="translate(38.47 873.047)">
                                <g id="b" transform="translate(1.218 0)">
                                    <g id="c" transform="translate(0)">
                                        <path id="Path_2180" data-name="Path 2180" d="M3.346,4.305,2.267,2.8a1.8,1.8,0,0,0,.206-.077,1.353,1.353,0,0,0,.6-.5,1.39,1.39,0,0,0,.209-.772A1.432,1.432,0,0,0,3.069.667a1.333,1.333,0,0,0-.6-.5A2.277,2.277,0,0,0,1.544,0H0V4.305H.314V2.9h1.23a2.806,2.806,0,0,0,.415-.029l1.03,1.438h.357ZM.314,2.62V.283h1.23A1.593,1.593,0,0,1,2.6.587a1.07,1.07,0,0,1,.359.864,1.067,1.067,0,0,1-.359.861,1.581,1.581,0,0,1-1.055.308H.314Z" transform="translate(0 0)" fill="#0db201" stroke="#0db201" stroke-width="0.5" />
                                        <path id="Path_2182" data-name="Path 2182" d="M56.59,0V.283h1.55V4.305h.314V.283H60V0Z" transform="translate(-52.53 0)" fill="#0db201" stroke="#0db201" stroke-width="0.5" />
                                    </g>
                                </g>
                                <g id="b-2" data-name="b" transform="translate(0 5.673)">
                                    <g id="c-2" data-name="c" transform="translate(0 0)">
                                        <path id="Path_2181" data-name="Path 2181" d="M171.431,0l-1.6,3.9L168.235,0h-.322l.583,1.424.013.032L167.5,3.9l-1.6-3.9h-.316l1.764,4.305h.288l1.017-2.483,1.018,2.483h.288L171.731,0Z" transform="translate(-161.873 0)" fill="#0db201" stroke="#0db201" stroke-width="0.5" />
                                        <path id="Path_2183" data-name="Path 2183" d="M117.135,4.305,116.056,2.8a1.8,1.8,0,0,0,.206-.077,1.353,1.353,0,0,0,.6-.5,1.39,1.39,0,0,0,.209-.772,1.432,1.432,0,0,0-.209-.784,1.333,1.333,0,0,0-.6-.5A2.277,2.277,0,0,0,115.333,0H113.79V4.305h.314V2.9h1.23a2.806,2.806,0,0,0,.415-.029l1.03,1.438ZM114.1,2.62V.283h1.23a1.593,1.593,0,0,1,1.055.3,1.07,1.07,0,0,1,.359.864,1.067,1.067,0,0,1-.359.861,1.581,1.581,0,0,1-1.055.308Z" transform="translate(-113.79 0)" fill="#0db201" stroke="#0db201" stroke-width="0.5" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon-default" width="26.735" height="24" viewBox="0 0 26.735 24">
                        <g id="beranda-active" transform="translate(-30.031 -864.228)">
                            <g id="Group_195" data-name="Group 195" transform="translate(30.032 864.227)">
                                <path id="Path_2165" data-name="Path 2165" d="M141.013,127.745l-3.45-3.345a1.228,1.228,0,0,0-.241-.234l-8.44-8.182-.031-.032a1.235,1.235,0,0,0-1.705,0l-.031.032-8.44,8.182a1.228,1.228,0,0,0-.241.234l-3.45,3.345a1.144,1.144,0,0,0,0,1.651,1.233,1.233,0,0,0,1.7,0l1.506-1.46v10.506a1.187,1.187,0,0,0,1.2,1.168h17.2a1.187,1.187,0,0,0,1.2-1.168V127.936l1.506,1.46a1.233,1.233,0,0,0,1.7,0A1.144,1.144,0,0,0,141.013,127.745Zm-5.616,9.531H120.6V125.6l7.4-7.171,7.4,7.171v11.674Z" transform="translate(-114.63 -115.61)" fill="#707070" />
                            </g>
                            <g id="Group_232" data-name="Group 232" transform="translate(38.47 873.047)">
                                <g id="b" transform="translate(1.218 0)">
                                    <g id="c" transform="translate(0)">
                                        <path id="Path_2180" data-name="Path 2180" d="M3.346,4.305,2.267,2.8a1.8,1.8,0,0,0,.206-.077,1.353,1.353,0,0,0,.6-.5,1.39,1.39,0,0,0,.209-.772A1.432,1.432,0,0,0,3.069.667a1.333,1.333,0,0,0-.6-.5A2.277,2.277,0,0,0,1.544,0H0V4.305H.314V2.9h1.23a2.806,2.806,0,0,0,.415-.029l1.03,1.438h.357ZM.314,2.62V.283h1.23A1.593,1.593,0,0,1,2.6.587a1.07,1.07,0,0,1,.359.864,1.067,1.067,0,0,1-.359.861,1.581,1.581,0,0,1-1.055.308H.314Z" transform="translate(0 0)" fill="#707070" stroke="#707070" stroke-width="0.5" />
                                        <path id="Path_2182" data-name="Path 2182" d="M56.59,0V.283h1.55V4.305h.314V.283H60V0Z" transform="translate(-52.53 0)" fill="#707070" stroke="#707070" stroke-width="0.5" />
                                    </g>
                                </g>
                                <g id="b-2" data-name="b" transform="translate(0 5.673)">
                                    <g id="c-2" data-name="c" transform="translate(0 0)">
                                        <path id="Path_2181" data-name="Path 2181" d="M171.431,0l-1.6,3.9L168.235,0h-.322l.583,1.424.013.032L167.5,3.9l-1.6-3.9h-.316l1.764,4.305h.288l1.017-2.483,1.018,2.483h.288L171.731,0Z" transform="translate(-161.873 0)" fill="#707070" stroke="#707070" stroke-width="0.5" />
                                        <path id="Path_2183" data-name="Path 2183" d="M117.135,4.305,116.056,2.8a1.8,1.8,0,0,0,.206-.077,1.353,1.353,0,0,0,.6-.5,1.39,1.39,0,0,0,.209-.772,1.432,1.432,0,0,0-.209-.784,1.333,1.333,0,0,0-.6-.5A2.277,2.277,0,0,0,115.333,0H113.79V4.305h.314V2.9h1.23a2.806,2.806,0,0,0,.415-.029l1.03,1.438ZM114.1,2.62V.283h1.23a1.593,1.593,0,0,1,1.055.3,1.07,1.07,0,0,1,.359.864,1.067,1.067,0,0,1-.359.861,1.581,1.581,0,0,1-1.055.308Z" transform="translate(-113.79 0)" fill="#707070" stroke="#707070" stroke-width="0.5" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="nav-animation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.336" height="8.707" viewBox="0 0 10.336 8.707">
                        <g id="Group_1472" data-name="Group 1472" transform="translate(-90.221 -878.632)">
                            <g id="Triangle-06" transform="translate(90.221 855.832)">
                                <path id="Path_3159" data-name="Path 3159" d="M1.55,31.506h7.3a1.5,1.5,0,0,0,1.486-1.447l0-.075h0a1.366,1.366,0,0,0-.113-.47l-.03-.058L6.535,23.541l-.454.239.456-.233A1.588,1.588,0,0,0,5.166,22.8a1.675,1.675,0,0,0-.757.181h0a1.523,1.523,0,0,0-.612.566l.456.233L3.8,23.541.145,29.456l-.03.058A1.371,1.371,0,0,0,0,30.059,1.455,1.455,0,0,0,.977,31.4h0a1.674,1.674,0,0,0,.509.1.51.51,0,0,0,.549-.457.5.5,0,0,0-.495-.508.569.569,0,0,1-.17-.035h0a.483.483,0,0,1-.325-.448.449.449,0,0,1,.038-.181L.6,29.7l.452.239L4.708,24.02l0-.006a.5.5,0,0,1,.2-.189h0a.55.55,0,0,1,.252-.06.527.527,0,0,1,.458.25l0,.006,3.654,5.912.454-.239-.484.181a.472.472,0,0,1,.038.157h0v.026a.5.5,0,0,1-.495.482l.026.482v-.483H1.55a.485.485,0,1,0,0,.967Z" transform="translate(0 0)" fill="#0db201" />
                            </g>
                            <path id="Path_3160" data-name="Path 3160" d="M-21361.941,18418.664l-3.9,6.852s4.836.35,7.143.219,2.08-.738,2.08-.738l-4.225-6.6Z" transform="translate(21456.607 -17539)" fill="#0db201" />
                        </g>
                    </svg>
                </div>
            </NavLink>
        </div>
    </div>
</div>