@inherits LayoutComponentBase

@*
Notes:
The main-layout class defined the maximum width as follow:
    if the device width is below 600px then the width will be fluid
    if the device width is above 600px then the body width will be fixed at 600px
*@

<RtrwModalProvider />
<div class="main-layout">
    @Body
</div>