<section class="user-profile">
    <div class="user-profile-header">
        <div class="rtrw-avatar rtrw-avatar-60px" type="button" data-rtrw-open="media">A</div>
        <div class="rtrw-flex rtrw-flex-col rtrw-gap-4px">
            <div class="user-profile-name">
                <div>Anton Ruslan</div>
                <div class="user-badges">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         version="1.1" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="var(--rtrw-gray-500)"
                              d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z" />
                    </svg>
                </div>
            </div>
            <div class="user-profile-kelurahan">
                <div class="kelurahan" type="button">Jelambar</div>
                <div>&bull;</div>
                <div>Sedjak 2022</div>
            </div>
        </div>

    </div>
    <div class="user-profile-body"></div>
    <div class="user-profile-footer">
        <div class="custom-button" type="button">
            <svg class="css-1n9q9bf" width=18px height=18px viewBox="0 0 24 24" fill="none">
                <path d="M12 3a3.5 3.5 0 100 7 3.5 3.5 0 000-7zM5.8 9.4a1 1 0 00-1.507-.107l-2 2a1 1 0 00-.125 1.262c.992 1.488 2.018 2.553 3.832 3.55V20a1 1 0 001 1h6.528A5.978 5.978 0 0112 17c0-1.78.775-3.378 2.006-4.477-.84-.334-1.797-.522-2.866-.522-2.074 0-4.046-.876-5.34-2.601zM14 17a1 1 0 011-1h2v-2a1 1 0 112 0v2h2a1 1 0 110 2h-2v2a1 1 0 11-2 0v-2h-2a1 1 0 01-1-1z"
                      fill="currentColor"></path>
            </svg>
            <span>Sambungkan</span>
        </div>
        <div class="custom-button" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 20.437 20.811">
                <g id="Group_855" data-name="Group 855" transform="translate(-346.538 -59.608)">
                    <path id="path38"
                          d="M2241.265-2153.035h-15.731a1.461,1.461,0,0,0-1.353,1.549v10.9a1.461,1.461,0,0,0,1.353,1.549h4.408l-1.056,4.461c-.055.234.189.407.347.246l4.626-4.707h7.405a1.461,1.461,0,0,0,1.353-1.549v-10.9a1.461,1.461,0,0,0-1.353-1.549"
                          transform="translate(-1876.643 2213.642)" fill="none" stroke="#fff"
                          stroke-width="2"></path>
                    <path id="Path_2417" data-name="Path 2417"
                          d="M-7791.257-251.852v-1.33h11.063v1.33Zm0-2.718V-255.9h11.063v1.332Z"
                          transform="translate(8142.482 321.845)" fill="#fff"></path>
                </g>
            </svg>
            Kirim Pesan
        </div>
    </div>
</section>