@using Rtrw.Client.Wasm.Extensions
@using Rtrw.Client.Wasm.Utilities
<span @attributes="Attributes" class="@ClassName" style="@Style">@DateTime.TimeSpanToString()</span>
@code {
    [Parameter] public DateTime DateTime { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
    [Parameter] public Dictionary<string, object>? Attributes { get; set; }
    protected string ClassName
        => new CssBuilder("timespan")
            .AddClass(Class)
            .Build();
}