*{
    outline: 1ps solid rebeccapurple;
}
.truncate-view {
    display: block;
}

.truncate-button {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #b4a9a9;
}