@page "/pesan"
@using Rtrw.Client.Wasm.Models
@using Rtrw.Client.Wasm.Svgs
@inject NavigationManager NavigationManager

<RtrwAppBar Position="sticky-top" Style="filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));">
    <EndBarContent>
        <RtrwIconButton Href="search">
            <RtrwSvgSearch />
        </RtrwIconButton>
        <RtrwIconButton Href="pesan">
            <RtrwSvgChat />
        </RtrwIconButton>
        <RtrwIconButton Href="new-post" Style="margin-right: -12px">
            <RtrwSvgNewPost />
        </RtrwIconButton>
    </EndBarContent>
</RtrwAppBar>

<main class="body-layout">
    <div class="rtrw-container">
        <div class="pesan-section-title">Kotak Pesan</div>
        <RtrwContact Contact="@Contact" />
    </div>
</main>

@code {
    [Parameter]
    public Contact Contact { get; set; } = new();
}