@page "/new-post"
@using Rtrw.Client.Wasm.Components.Enums
@using Rtrw.Client.Wasm.Components.Extensions
@using Rtrw.Client.Wasm.Models
@inject NavigationManager NavigationManager

<CascadingValue Value="@Post">
    <EditForm Model="Post" OnValidSubmit="@HandleValidSubmit">
        <div class="page-layout">
            <div class="page-header">
                <RtrwIconButton Href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 17.59 31.18">
                        <path d="M4443.908-198.838,4431.146-211.6l12.762-12.762" transform="translate(-4429.146 227.19)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" />
                    </svg>
                </RtrwIconButton>
                <div class="page-header-title" type="button" @onclick="OpenChangePostCategoryModal">
                    @Post.Category.EnumToDescriptionString()
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.681" height="8.84" viewBox="0 0 14.681 8.84">
                        <path id="Path_2461" data-name="Path 2461" d="M4436.365-213.923l-5.219-5.219,5.219-5.219" transform="translate(226.482 4438.486) rotate(-90)" fill="none" stroke="#0db201" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    </svg>
                </div>
                <RtrwButton Type=ButtonType.Submit Variant=Variant.Filled Color=ThemeColor.Primary>Post</RtrwButton>
            </div>
            @if (Post.Category == PostCategory.SuaraWarga)
            {
                <SuaraWarga />
            }
            @if (Post.Category == PostCategory.Liputan)
            {
                <Liputan />
            }
            @if (Post.Category == PostCategory.Pengumuman)
            {
                <Pengumuman />
            }
        </div>
    </EditForm>
</CascadingValue>